@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------Loading State Styles---------------*/
.loading
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------Model Styles---------------*/

.customOverlay {
  background: rgba(49, 49, 49, 0.7);
}
.customModal {
  background: #ffffff;
  max-width: 500px;
  width: 100%;
}

/*---------Layout Styles---------------*/

.root-layout{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.9fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr;
  grid-template-areas:
    "sidebar navarea navarea navarea user"
    "sidebar main main main user";
  /* grid-gap: 0.2rem; */
  transition: grid-template-columns 0.5s ease;
}


.root-layout-sidebarClosed{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr;
  grid-template-areas:
    "sidebarbtn navarea navarea navarea user"
    "sidebarbtn main main main user";
  /* grid-gap: 0.2rem; */
  transition: grid-template-columns 0.5s ease;
}

.sidebarbtn{
  grid-area:sidebarbtn;
  background: #dcf5d2;
}


*{
  font-family: 'Poppins';
}


main {
  background: #dcf5d2;
  grid-area: main;
  
  
}

.main-container {
  padding: 30px 30px;
}

.user{
  background: #dcf5d2;
  grid-area: user;
  
}

.navarea{
  background: #dcf5d2;
  grid-area: navarea;
}

/*---------Form Styles---------------*/

.transparentClass input
{
  background-color: transparent;
}

/* width */
.hiddenScroll::-webkit-scrollbar {
  width: 0px;
}


/*----------sidebar styles-----------------*/

#sidebar{
  grid-area: sidebar;
  height:100%;
  background-color: #dcf5d2;;
  overflow-y:auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom:5px;
  border-bottom: 2px solid #002f8731;
  color: #002F87;
  
}

.sidebar-brand{
  margin-top:15px;
  font-size: 25px;
  font-weight:700;
}

.sidebar-list {
  padding:0;
  margin-top: 10px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  color: #002F87;
}

.sidebar-list-item:hover{
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}



/*------Table Styles----------*/

.tablestyle td:first-child,th:first-child {
  border-radius: 10px 0 0 10px;
}

.tablestyle td:last-child, th:last-child {
  border-radius: 0 10px 10px 0;
}

.tablestyle td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #CCE6BF;
}

.tablestyle th{
  border-bottom: 3px solid #CCE6BF;
}


/*---Media Queries---*/

/* Medium Devices*/


